.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: darken($accent-color, 25%);
    border: 1px solid darken($main-color, 40%);
    box-shadow: 1px 1px 1px $main-color;
    color: $main-color;
    transition: all 0.5s;
    margin: 20px 0 10px 0;
    font-size: 14px;
    white-space: nowrap;
}

.btn:hover {
    color: $accent-color;
    background-color: $main-color;
    cursor: pointer;
    box-shadow: none;
    
}

.btn-nav {
    padding: 7px 14px;
    font-size: 12px;
}

