body {
  background-color: darken($main-color, 5%);
  height: 100vh;
}

body > div {
  height: 100%;
  width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: darken($main-color, 5%);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .loader {
    color: $secondary-color; 
  }

  label {
    font-size: 18px;
    color: $accent-color;
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
}
input, textarea {
    margin-bottom: 10px;
    height: 20;
    background-color: $main-color;
    border: 1px solid darken($main-color, 5%);
    outline: none;
    color: $accent-color;
    font-size: 16px;
    line-height: 1.5;
}

textarea {
    resize: none;
}
input:focus, textarea:focus{
    background-color: darken($main-color, 5%);
}