// Body
$body-bg: #f8fafc;

// Typography
$title-font: 'Anton', sans-serif;
$main-font: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$main-color: #000000;
$accent-color: #88f7ff;
$secondary-color: #979797;
$main-light-color: #e0dfd8;

