$title-font: 'Anton', sans-serif;
$main-font: 'Roboto Mono', monospace;


$main-color: rgb(43, 47, 54);
$accent-color: rgb(204, 202, 194);
$secondary-color: rgb(73, 72, 67);
$third-color: rgb(77, 75, 104);
$main-light-color: #e0dfd8;

$main-shadow: 1px 1px 1px $main-color;

