$title-font: 'Anton', sans-serif;
$main-font: 'Roboto Mono', monospace;


$main-color: #1c1c1f;
$accent-color: rgb(150,192,203);
$secondary-color: rgb(209,211,174);
$third-color: rgb(52, 64, 99);
$main-light-color: #e0dfd8;

