.chat-app {
    height: 100%;

     .profile-window { 
         width: 100vh;
         display: grid;
         place-items: center;
         .profile-box {
            
            h1.profile-header {
               
            }
            .profile-body {
                margin-top: 10px;
                
                .profile-section {
                    margin-bottom: 10px;

                    h4 {
                        color: $accent-color;
                        margin-bottom: 8px;
                        font-size: 14px;
                    }

                    p {
                        font-size: 14px;
                        
                    }

                }
                input {
                    
                }
            }
        
    }
}
}


@media (max-width: 680px){
    .chat-app {

        .profile-window { 
            
            .profile-box { 
                width: 280px;
                .profile-body {
                    
                }
            }
        }
    }
}
