.chat-app {
    height: 100%;

     .profile-window { 
        
        .profile-box { 

            .profile-body {

                .profile-section {
                    margin: 13px;

                    h4 {
                        color: $accent-color;
                    }


                    p {
                        font-size: 16px;
                        color: lighten($accent-color, 10%);
                        padding: 5px;
                    }
                }

                .btn {
                    margin: 40px 0;
                }
            }

           
            
    }
}

}
@media (max-width: 680px){
    .chat-app {

        .profile-window { 
            
            .profile-box { 
                width: 280px;
                .profile-body {
                    
                }
            }
        }
    }
}
