nav {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 49px;
    background-image: linear-gradient(to bottom right, darken($accent-color, 40%), $main-color);
    box-shadow: 0px 2px 2px darken($main-color, 15%);
    align-items: center;
    justify-content: space-around;

    .left-nav {
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 40px;
            height: 40px;
            border-radius: 40%;
            margin: 0 20px;
            filter: grayscale(90%);
            box-shadow: 1px 1px 1px $main-color;
        }
        h1 {
            margin-left: 20px;
            font-family: $title-font;
            font-size: 36px;
            letter-spacing: 4px;
            text-transform: uppercase;
            text-shadow:1px 0 $main-color;
            color: $accent-color;
            
        }
    }

    .logged {
        color: darken($accent-color, 20%);
        white-space: nowrap;
        font-size: 14px;

        span {
            color: $accent-color;
            margin-left: 5px;
        }
    }

    .nav-links{
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        *{
            margin: 0 20px;
        }

    }

        .burger {
            display: none;

            div {
                display: block;
                width: 25px;
                height: 3px;
                transition: all 0.3s ease;
                background-color: $accent-color;
                margin: 5px;
            }
        }    
}

    @media screen and (max-width: 680px) {
        body {
            overflow-x: hidden;

            nav {

                .nav-links {
                    position: fixed;
                    width: 60%;
                    right: 0px;
                    height: 50vh;
                    top: 49px;
                    background-image: linear-gradient(to bottom right, darken($accent-color, 40%), $main-color);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    transform: translateX(100%);
                    transition: transform 0.5s ease-in;
                }
                
                .nav-links * {
                    opacity: 0;
                }
                
                .burger {
                    display: block;
                    cursor: pointer;
                }
                .nav-active {
                    transform: translateX(0%);
            }
        }
    }    
}   
    @keyframes navListFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }