.dashboard .chat-window {
    color: $secondary-color;
    height: 100vh;
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    
        .scroll-container {
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
            flex-grow: 1;
           
            ul.messages{
                
                li {
                    display: flex;
                    width: 100%;
                    
                    .currentName, .name {
                        margin: 6px 16px;
                        // color: $accent-color;
                        padding: 10px;
                        // border-radius: 10px;
                        width: 100%;
                        // background-image: linear-gradient(to bottom right, darken($accent-color, 35%), lighten($main-color, 15%));
                        // background-image: linear-gradient(to bottom right, darken($accent-color, 45%), darken($accent-color, 35%));
                        background-image: linear-gradient(to bottom right, darken($accent-color, 25%), darken($accent-color, 15%));
                        color: darken($accent-color, 75%);
                    }
                
                    .currentName {
                        background-image: linear-gradient(to bottom right, darken($accent-color, 10%), darken($accent-color, 5%));
                       
                    }
                }
            }
            
    }

    .scroll-container:first-child {
        margin-top: auto !important;
    }

    .message-input {
        width: 100%;
        background-color: darken($main-color, 5%);
        padding: 0 16px;
        display: flex;
        align-items: center;

        textarea{
            flex-grow: 1;
            resize: none;
            overflow: hidden;
            min-height: 50px;
            max-height: 100px;
            overflow-y: scroll;
            border: 1px solid black;
        }

        textarea:focus {
            background-color: lighten($main-color, 5%);
        }

        input {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid transparent;
            box-shadow: 1px 1px 1px black;
            transition: all 0.2s;
        }
        input:hover {
            cursor: pointer;
            background-color: lighten($main-color, 10%);
            box-shadow: none;
            border: 1px solid black;
            color: lighten($accent-color, 10%);
        }
    }
}
