//dashboard>chatwindow>all-messages>messages
.dashboard .chat-window {
    color: $secondary-color;
    height: 100vh;
    padding-top: 49px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    
        .scroll-container {
            overflow-y: scroll;
            display: flex;
            flex-direction: column-reverse;
            flex-grow: 1;
           
            ul.messages{
                
                li {
                    display: flex;
                    width: 100%;
                    
                    .currentName, .name {
                        margin: 6px 16px;
                        padding: 6px;
                        border-radius: 5px;
                        width: 100%;
                        background-color: lighten($main-color, 20%);
                    }
                
                    .currentName {
                        background-color: lighten($main-color, 10%);
                    }
                }
            }
            
    }

    .scroll-container:first-child {
        margin-top: auto !important;
    }

    .message-input {
        width: 100%;
        background-color: gainsboro;
        display: flex;
        align-items: center;

        textarea{
            flex-grow: 1;
            resize: none;
            overflow: hidden;
            min-height: 50px;
            max-height: 100px;
            overflow-y: scroll
        }

        input {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}
